<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacte2Modal" tabindex="-1" aria-labelledby="contacte2ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacte2ModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre el Pla Comunitari, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-contacte.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-50 w- ms-2 float-end" src="img/pancarta-bon-vei-bon-profit-1024x768.jpg" alt="">
<p>Xarxa comunitària que vol donar resposta a les necessitats alimentàries de les famílies
    del barri en situació de precarietat, des de la defensa del dret a una alimentació digna
    com un dret universal.</p>
<b>Qui som?</b>
<p>La iniciativa, en el marc de la Taula de Bon Veïnatge de la Barceloneta, està liderada pel
    <a href="https://placomunitaribarceloneta.org/grup-motor-de-bon-vei-bon-profit/">Grup motor
        de Bon Veí, Bon Profit</a>, que és qui impulsa i organitza el projecte.</p>
<b>Què fem?</b>
<ul>
    <li>Jornades de recollida d’aliments per a famílies, al carrer o als equipaments i entitats
        del barri.</li>
    <li>Coordinació de la xarxa d’empreses i comerços col·laboradors, per gestionar les seves
        aportacions d’aliments per al projecte.</li>
    <li>Coordinació entre els diferents agents que intervenen en l’entrega dels aliments a les
        famílies, per fer més eficaç el servei.</li>
</ul>
<b>Espai de participació</b>
<p>El grup
    motor de Bon Veí, Bon Profit és un espai obert on qualsevol veí o entitat que hi
    estigui interessada s’hi pot sumar. Es reuneix aproximadament cada tres mesos. Però per
    col·laborar al projecte no cal formar part del Grup Motor. Cada persona o entitat pot
    implicar-s’hi al projecte de la manera i en a mesura que vulgui o pugui.</p>
<b>Com s’hi pot col·laborar?</b>

<ul>
    <li>Com a veí o veïna:
        <ul>
            <li>Com a impulsor i organitzador del projecte, participant al Grup Motor.</li>
            <li>Com a voluntari a les campanyes.</li>
            <li>Fent difusió del projecte al barri.</li>
        </ul>
    </li>
    <li>Com a comerç, empresa, associació o servei públic:
        <ul>
            <li>Portant a terme accions o campanyes de recollida de productes per al projecte.
            </li>
            <li>Com a impulsor i organitzador del projecte, participant al Grup Motor.</li>
            <li>Fent aportacions de productes d’alimentació o neteja per al projecte.</li>
            <li>Fent aportacions en efectiu per comprar aliments per al projecte.</li>
            <li>Fent difusió del projecte al barri.</li>
            <li>Altres: sessió d’espais o altres recursos, etc.</li>
        </ul>
    </li>
</ul>
<p>Si vols més informació o vols col·laborar amb el projecte, pots contactar a:</p>
<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>