<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#proaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>

    <!-- Button INSTAGRAM -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="https://www.instagram.com/barcelonetapowers/">
                <h3 style="color: #ffc720">Instagram
                    <i class="fab fa-instagram"></i></h3>
            </a>
        </button>
    </div>

    <!-- Modal CONTACTE-->
    <div class="modal fade" id="proaModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte Barceloneta Powers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p></p>
                </div>
                <div class="modal-body">
                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-proa.html"></div>
                    <script>
                        includeHTML();
                    </script>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!--FORMULARI DE CONTACTE-->

<!--CONTINGUT-->

<img class="img-fluid w-50 float-start" src="img/barceloneta-powers.jpg" alt="">
Barceloneta Powers és un projecte sòcioeducatiu comunitari. <br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse incidunt ipsum debitis provident praesentium. Veritatis
aliquam a tempora itaque amet architecto dolorem impedit suscipit animi possimus vero recusandae error esse nesciunt
quasi qui, nemo ipsum commodi, expedita, at iste? Sint excepturi sequi commodi enim suscipit itaque dolores error ipsam
repellat facilis in voluptatum, et temporibus impedit cum beatae hic quisquam sed eius perferendis quibusdam quam,
animi, cumque inventore. Aspernatur magni nostrum modi repellendus asperiores aperiam repellat, numquam non id minus quo
suscipit, fuga soluta, vero dolorem fugiat optio molestiae incidunt in consequatur veritatis veniam! Hic, excepturi?
Accusamus atque perspiciatis unde temporibus quis tempore quae natus doloremque sed facere. Similique hic corrupti
veritatis. Eveniet repellendus ratione molestiae delectus ex vero veritatis impedit, id libero doloremque quisquam
dolorem sequi nobis eum, voluptate reiciendis tempora dolores tempore cum exercitationem distinctio corporis dolorum
magnam laudantium! Quaerat omnis in praesentium inventore reprehenderit quasi, porro, maxime quia placeat reiciendis
nobis officia rem eius hic necessitatibus quos distinctio consequuntur nesciunt sint similique fuga repudiandae! Facere
quod eos itaque perferendis corporis impedit quisquam dignissimos porro recusandae repellat debitis nihil est officiis
ut deserunt minima sed, dolores harum perspiciatis obcaecati quasi laborum. Ducimus exercitationem quo labore nam
praesentium repellendus! <br><br>

<!--VIDEO-->
<div class="row g-4 mx-1">
    <div class="col-lg-8 video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NYCzeEEuWg0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="col-lg-4"></div>
</div>
<br>

<!--Feed Instagram-->
<div class='sk-instagram-feed' data-embed-id='83583'></div><script src='https://widgets.sociablekit.com/instagram-feed/widget.js' async defer></script>
<iframe src='https://widgets.sociablekit.com/instagram-feed/iframe/83583' frameborder='0' width='100%' height='1000'></iframe>

<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <!-- Button Contacte -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#proaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>


    <hr>
</div>