<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#garbaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="garbaModal" tabindex="-1" aria-labelledby="garbaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="garbaModalLabel">Contacte La Garba</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-contacte.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-25 me-3 float-start" src="../img/garba-logo.png" alt="">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus porro veniam, repellat id aut autem in eos natus rem nulla molestias eveniet a possimus architecto veritatis dicta animi perferendis ex nemo. Pariatur sequi dolore vitae ad quibusdam repellat nam, itaque, voluptatibus error maxime repudiandae quae esse et? Blanditiis nemo eum consequatur dolor nihil soluta velit, dolorum pariatur fugiat sunt reiciendis id! <br><br>
A nulla repudiandae autem veniam beatae quo eaque tempora! Inventore incidunt expedita delectus velit fugit nulla aliquam, ab neque ipsa fugiat tenetur vel libero, dolore excepturi dolor officia distinctio ex! Eligendi reprehenderit ut dicta commodi optio? Dolorem nihil quis totam officia quia. Provident nihil suscipit accusantium, aperiam ducimus, qui iusto, odio neque aut sequi laudantium doloribus tempora vero at ipsum quidem temporibus deserunt? Quibusdam et ad, distinctio fugit commodi cumque illo cupiditate ullam doloremque id, dolores itaque quae quasi quod deserunt inventore quidem voluptatem unde sunt optio aliquid enim veniam atque. Earum, in illo. <br><br>
Repudiandae ad, dolores optio adipisci iusto accusamus reprehenderit fugiat molestias architecto voluptatem cum illo maiores, necessitatibus vero atque obcaecati aperiam repellat aliquam, animi ipsum! Voluptates reprehenderit cumque, sunt at velit voluptas consectetur error mollitia dolores ab in vero optio reiciendis magnam adipisci quos non itaque!
<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#garbaModal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>