<!--FORMULARI DE CONTACTE-->
<div class="row">
    <!-- Button trigger modal -->
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal"
        data-bs-target="#piolModal">
        <h3 style="color: #ffc720">Demanar cita <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
    <!-- Modal -->
    <div class="modal fade" id="piolModal" tabindex="-1" aria-labelledby="piolModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="piolModalLabel">Demanar cita PIOL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-piol.html"></div>
                    <script>
                        includeHTML();
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->
Contingut PIOL en construcció
<!-- Button trigger modal -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal"
        data-bs-target="#piolModal">
        <h3 style="color: #ffc720">Demanar cita <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>
