<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacte2Modal" tabindex="-1" aria-labelledby="contacte2ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacte2ModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre la comissió o l'assemblea d'habitatge, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-salut.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-50 ms-2 float-end" src="img/carousel-4.jpg" alt="">
Tant l’Assemblea com la Comissió d’Habitatge són espais oberts, on qualsevol veïna o veí que s’hi vulgui implicar i col·laborar és benvingut, sempre que s’identifiqui amb els valors i els principis que orienten la nostra acció. També es pot col·laborar donant a conèixer l’Assemblea entre els i les veïnes afectades. <br><br>

L’Assemblea d’Habitatge es reuneix l’últim dimecres de cada mes, a les 18h, al Centre Cívic de la Barceloneta al carrer Conreria 1-9 (08003) Barcelona.


<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>