<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacte2Modal" tabindex="-1" aria-labelledby="contacte2ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacte2ModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre Barceloneta Diversa, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-salut.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->

La necessitat i l’interès social del projecte Barceloneta Diversa neix de la detecció de percepcions negatives que molts veïns tenen de la població immigrada, i que es <b>posen de manifest als estereotips, prejudicis i rumors que circulen, tant al carrer com a les xarxes socials</b>. Resulta preocupant la proliferació al barri, els darrers temps, d’un discurs racista que vincula la immigració amb la manca de recursos socials per a la població “autòctona”, i amb la delinqüència. <br><br>

La crisi sanitària de la Covid 19 ha evidenciat, encara més, la manca de garanties, pel que fa als drets, de molts sectors de la població, que ja es trobaven en situacions de vulnerabilitat i a partir de la crisi han passat a estar al límit de la subsistència, de manera particular els i les veïnes d’orígens diversos que es troben en situació irregular.<br><br>

Davant aquesta realitat, ens plantegem <b>treballar la cohesió social des de la mirada de la interculturalitat crítica, de manera transversal i implicant a tots els agents del barri possibles, sumant als veïns i les veïnes de diferents orígens com a protagonistes del procés</b>. Aquesta cohesió passa necessàriament per tractar d’arrel les percepcions errònies sobre “l’altre”, entenent l’altre com el desconegut/da. Aquest desconeixement, junt amb les informacions errònies i carregades de prejudicis que amb freqüència trobem als mitjans de comunicació, està provocant que molts veïns arribin a viure la immigració en conjunt com una amenaça. Paral·lelament, cal desemmascarar els mecanismes generadors de desigualtats, i explorar fórmules per reduir-les.<br><br>

La creació d’espais on els ciutadans/es tinguin l’oportunitat d’interactuar i obtenir informació ajustada a la realitat fa possible el desmuntar els rumors que porten a la por i a la creació de imatges errònies. Només des de l’acció coordinada i transversal amb els agents del barri (tant les associacions com els serveis públics) podrem aturar la discriminació i el racisme que al barri són, dissortadament, una realitat.<br><br>

<!--Masonry FOTOS-->
<div class="masonry my-3">
    <div class="mItem wow fadeInUp" data-wow-delay="0.1s">
        <img src="img/barceloneta-diversa-01.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.3s">
        <img src="img/barceloneta-diversa-06.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img style="border: solid; border-color: #353535;" src="img/barceloneta-diversa-02.png">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.4s">
        <img src="img/barceloneta-diversa-08.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="img/barceloneta-diversa-09.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-04.jpg">
    </div>
</div>



<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>